.single-task {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: #FFFF99;
    transition: 0.2s
}

.single-task:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.single-task-text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.single-task-text:focus {
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}