.tasks-container {
    display: flex;
    width: 90%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.tasks {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    border-radius: 5px;
    background-color: #32C3CD;
}

.drag-active {
    background-color: #00E7EC;
}

.completed {
    background-color: #FF6750;
}

.drag-complete {
    background-color: #FF2600;
}

.tasks-heading {
    font-size: 30px;
    color: white;
}

@media (max-width: 700px) {
    .tasks {
        width: 100%;
        margin-bottom: 10px;
    }

    .tasks-container {
        width: 90%;
        flex-direction: column;
    }
}